# Created by https://www.gitignore.io

### Eclipse ###
/*/*[Dd]ebug
/*/*[Rr]elease

/*/.settings

### Visual Studio ###
[Dd]ebug
[Rr]elease
ipch

*.*sdf

### Project Specific ###
/.private


### Plaftorm: Windows ###
[Tt]humbs.db


### Platform: Mac OS X ###
.DS_Store

